/* General */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.about,
.contact,
.portfolio {
    font-weight: bold;
}

.contact-container,
.portfolio-container,
.home-container {
    background-color: whitesmoke;
    width: 70%;
    margin-top: 80px;
    margin-bottom: 80px;
    flex: 1;
}

.h1-contact,
.h1-portfolio {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.footer {
    height: 35px;
    line-height: 35px;
    background-color: #343a40!important;
    color: white;
    text-align: center;
  }

/* Contact Page */

label {
    font-weight: bold;
}

form {
    padding: 5rem;
}

/* About Page */

.h1-about {
    font-weight: bold;
}

.h2-about,
.h2-services {
    text-align: center;
}

.card-deck {
    margin-bottom: 40px;
}

.about-container {
    background-color: whitesmoke;
    width: 50%;
    margin-top: 80px;
    margin-bottom: 80px;
    flex: 1;
    padding: 2rem;
}




